# :snowflake: FROSTY FRIDAY Week 71 â€“ Intermediate ðŸŽƒ

[https://frostyfriday.org/blog/2023/11/10/week-71-intermediate/](https://frostyfriday.org/blog/2023/11/10/week-71-intermediate/)

```
ðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡
                     /\                 /\      
                    / \'._   (\_/)   _.'/ \     
                   / .''._'--(o.o)--'_.''. \    
                  /.' _/ |`'=/ " \='`| \_ `.\   
                 /` .' `\;-,'\___/',-;/` '. '\  
                /.-'       `\(-V-)/`       `-.\ 
                `            "   "            `
ðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒ   H A P P Y   H A L L O W E E N   ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡ðŸŽƒðŸ¦‡
```

## 1. ç’°å¢ƒã«åˆã‚ã›ãŸè¨­å®š ðŸ¦‡

In [ ]:
-- è‡ªåˆ†ã®ç’°å¢ƒã«åˆã‚ã›ã¦USEãªã‚“ã¨ã‹ã™ã‚‹
USE ROLE ACCOUNTADMIN; -- ã‚ˆã„ã“ã¯ã‚„ã£ã¡ã‚ƒãƒ€ãƒ¡
USE WAREHOUSE COMPUTE_WH;
USE DATABASE FROSTYFRIDAY_DB;
-- CREATE SCHEMA WEEK71;
USE SCHEMA WEEK71;

## 2. ã‚»ãƒƒãƒˆã‚¢ãƒƒãƒ— ðŸ§Ÿâ€â™‚ï¸

In [ ]:
-- Create the Sales table
CREATE OR REPLACE TABLE Sales (
    Sale_ID INT PRIMARY KEY,
    Product_IDs VARIANT --INT
);

In [ ]:
-- Inserting sample sales data
INSERT INTO Sales (Sale_ID, Product_IDs) SELECT 1, PARSE_JSON('[1, 3]');-- Products A and C in the same sale
INSERT INTO Sales (Sale_ID, Product_IDs) SELECT 2, PARSE_JSON('[2, 4]');-- Products B and D in the same sale

In [ ]:
-- Create the Products table
CREATE OR REPLACE TABLE Products (
    Product_ID INT PRIMARY KEY,
    Product_Name VARCHAR,
    Product_Categories VARIANT --VARCHAR
);

In [ ]:
-- Inserting sample data into Products
INSERT INTO Products (Product_ID, Product_Name, Product_Categories) SELECT 1, 'Product A', ARRAY_CONSTRUCT('Electronics', 'Gadgets');
INSERT INTO Products (Product_ID, Product_Name, Product_Categories) SELECT 2, 'Product B', ARRAY_CONSTRUCT('Clothing', 'Accessories');
INSERT INTO Products (Product_ID, Product_Name, Product_Categories) SELECT 3, 'Product C', ARRAY_CONSTRUCT('Electronics', 'Appliances');
INSERT INTO Products (Product_ID, Product_Name, Product_Categories) SELECT 4, 'Product D', ARRAY_CONSTRUCT('Clothing');

In [ ]:
-- ã‚»ãƒƒãƒˆã‚¢ãƒƒãƒ—ãŒçµ‚ã‚ã£ãŸã®ã§ã€å†…å®¹ã‚’ç¢ºèªã™ã‚‹ï¼šSalesãƒ†ãƒ¼ãƒ–ãƒ«
SELECT * FROM Sales;

In [ ]:
-- ã‚»ãƒƒãƒˆã‚¢ãƒƒãƒ—ãŒçµ‚ã‚ã£ãŸã®ã§ã€å†…å®¹ã‚’ç¢ºèªã™ã‚‹ï¼šProductsãƒ†ãƒ¼ãƒ–ãƒ«
SELECT * FROM Products;

## 3. è‡ªåˆ†ãªã‚Šã®è§£æ³•ã‚’ã‚„ã£ã¦ã¿ã‚ˆã† ðŸ§™â€â™€ï¸

In [ ]:
-- ã¾ãšJSONã‚’FLATTENã—ã¦å±•é–‹ã™ã‚‹
CREATE OR REPLACE TEMPORARY TABLE T1 AS (
    SELECT 
        Sale_ID,
        Product_ID_List.value::NUMBER AS Product_ID
    FROM Sales,
    LATERAL FLATTEN(Sales.Product_IDs) Product_ID_List
);
SELECT * FROM T1;

In [ ]:
-- åŒã˜ãã€é…åˆ—ã‚’FLATTENã—ã¦å±•é–‹ã™ã‚‹
CREATE OR REPLACE TEMPORARY TABLE T2 AS (
    SELECT 
        Product_ID,
        Product_Category_List.value::STRING AS Product_Category
    FROM Products,
    LATERAL FLATTEN(Products.Product_Categories) Product_Category_List
);
SELECT * FROM T2;

In [ ]:
-- ãã‚Œã‚‰ã‚’çµåˆã™ã‚‹
CREATE OR REPLACE TEMPORARY TABLE T3 AS (
    SELECT
        T1.Sale_ID,
        T1.Product_ID,
        T2.Product_Category
    FROM T1
    LEFT JOIN T2
    ON T1.Product_ID = T2.Product_ID
);
SELECT * FROM T3;

In [ ]:
-- åŒã˜Sale_IDã§ã‚°ãƒ«ãƒ¼ãƒ”ãƒ³ã‚°ã€‚ã‚°ãƒ«ãƒ¼ãƒ—ã®ä¸­ã§ãã‚Œãžã‚Œã®ã‚«ãƒ†ã‚´ãƒªã®å€‹æ•°ã‚’æ•°ãˆã¦ã€2å›žä»¥ä¸Šãªã‚‰å…±é€šã®ã‚«ãƒ†ã‚´ãƒªã¨åˆ¤æ–­ã™ã‚‹
CREATE OR REPLACE TEMPORARY TABLE T4 AS (
    SELECT
        Sale_ID,
        Product_Category,
        COUNT(Product_Category) AS Product_Category_Count
    FROM T3
    GROUP BY Sale_ID, Product_Category
    HAVING COUNT(Product_Category) > 1
);
SELECT * FROM T4;

In [ ]:
-- çµæžœã‚’å‡ºé¡Œã®æŒ‡å®šã«å¯„ã›ã‚‹ãŸã‚ã«ã€ARRAY_AGGã§é…åˆ—åŒ–ã—ã¦ã€è¡¨ç¤º
SELECT
    T4.Sale_ID,
    ARRAY_AGG(Product_Category) AS Common_Product_Categories
FROM T4
GROUP BY
    Sale_ID
ORDER BY 
    Sale_ID;

### è©¦ã—ã¦ã¿ã‚ˆã†

ä»Šå›žã®ã‚»ãƒƒãƒˆã‚¢ãƒƒãƒ—ã‚³ãƒ¼ãƒ‰ã ã¨ [ "Electronics" ] ã¿ãŸã„ãªè¡¨ç¤ºã«ãªã‚‹ã‘ã©ã€ã“ã®ã‚«ãƒ†ã‚´ãƒªãŒè¤‡æ•°ã«ãªã‚‹ã‚±ãƒ¼ã‚¹ã§ã‚‚ã¡ã‚ƒã‚“ã¨å‹•ãã®ã‹ãªï¼Ÿ

In [ ]:
-- å…±é€šã®ã‚«ãƒ†ã‚´ãƒªãŒ2ã¤ä»¥ä¸Šã§ã‚‚å‹•ä½œã™ã‚‹ã®ã‹ãƒ†ã‚¹ãƒˆã™ã‚‹
INSERT INTO Sales (Sale_ID, Product_IDs) SELECT 3, PARSE_JSON('[3, 3]');-- Products B and D in the same sale

In [ ]:
-- ä¸Šè¨˜ã®æµã‚Œã‚’CTE(Common Table Expressions)ã§1ã¤ã®SQLã«ã—ã¦ã€å†å®Ÿè¡Œ
WITH T1 AS (
    SELECT 
        Sale_ID,
        Product_ID_List.value::NUMBER AS Product_ID
    FROM Sales,
    LATERAL FLATTEN(Sales.Product_IDs) Product_ID_List
),
T2 AS (
    SELECT 
        Product_ID,
        Product_Category_List.value::STRING AS Product_Category
    FROM Products,
    LATERAL FLATTEN(Products.Product_Categories) Product_Category_List
),
T3 AS (
    SELECT
        T1.Sale_ID,
        T1.Product_ID,
        T2.Product_Category
    FROM T1
    LEFT JOIN T2
    ON T1.Product_ID = T2.Product_ID
),
T4 AS (
    SELECT
        Sale_ID,
        Product_Category,
        COUNT(Product_Category) AS Product_Category_Count
    FROM T3
    GROUP BY Sale_ID, Product_Category
    HAVING COUNT(Product_Category) > 1
)
SELECT
    T4.Sale_ID,
    ARRAY_AGG(Product_Category) AS Common_Product_Categories
FROM T4
GROUP BY
    Sale_ID
ORDER BY 
    Sale_ID;