# â›„Frosty Friday Week28 ğŸ‚ 

## ä½¿ã†ãƒ‡ãƒ¼ã‚¿ã‚½ãƒ¼ã‚¹

COVID-19ã®ç–«å­¦æƒ…å ±ã¯ä»¥ä¸‹ã‚’ç”¨ã„ã‚‹ã€‚  
[COVID-19 Epidemiological Data](https://app.snowflake.com/marketplace/listing/GZSNZ7F5UH/starschema-covid-19-epidemiological-data)
ãƒ‡ãƒ¼ã‚¿ãƒ™ãƒ¼ã‚¹åã¯ ```FFW28_COVID19``` ã«å¤‰æ›´ã—ã¦ãŠãã€‚  

æ°—è±¡æƒ…å ±ã¯ä»¥ä¸‹ã‚’ç”¨ã„ã‚‹ã€‚  
[Weather & Environment](https://app.snowflake.com/marketplace/listing/GZTSZAS2KIM/cybersyn-weather-environment)
ãƒ‡ãƒ¼ã‚¿ãƒ™ãƒ¼ã‚¹åã¯ ```FFW28_WEATHER``` ã«å¤‰æ›´ã—ã¦ãŠãã€‚

## ã‚¹ãƒ†ãƒƒãƒ—1 "ã¨ã‚Šã‚ãˆãšã‚ã‹ã‚Šã‚„ã™ã„ã¨ã“ã‚ã‹ã‚‰"

ã¾ãšã€ISO 3166-1 alpha-2 codeã«å¤‰æ›ã—ãŸã„å›½åã‚’åˆ—æŒ™ã™ã‚‹ã€‚

In [ ]:
SELECT DISTINCT(COUNTRY_NAME) AS COUNTRY_NAME
FROM FFW28_WEATHER.CYBERSYN.NOAA_WEATHER_STATION_INDEX;

## ã‚¹ãƒ†ãƒƒãƒ—2 "ç¡çœ ã“ãæœ€å¼·ã®è§£æ±ºç­–ã§ã‚ã‚‹ã€‚ãã‚Œã§ãƒ€ãƒ¡ãªã‚‰LLMãŒãªã‚“ã¨ã‹ã—ã¦ãã‚Œã‚‹"

Snowflake Cortex LLM Functionsã§å›½åã‚’ISO 3166-1 alpha-2 codeã«å¤‰æ›ã™ã‚‹ã€‚  
è‰²ã€…è©¦ã—ã¦ã¿ã‚‹ã¨ã„ã„ã‘ã©ã€ã“ã®æ‰‹ã®ã‚·ãƒ³ãƒ—ãƒ«ã‚¿ã‚¹ã‚¯ã¯çµå±€ Snowflake Arctic ãŒä¸€ç•ªå®‰å®šã™ã‚‹ã‚“ã ã‚ˆãªãã€‚  
ãŸã ã—ã€å‡ºåŠ›ã®1æ–‡å­—ç›®ã«åŠè§’ã‚¹ãƒšãƒ¼ã‚¹ãŒè¿½åŠ ã•ã‚ŒãŒã¡ãªã®ã§æ³¨æ„ï¼

In [ ]:
SELECT COUNTRY_NAME, SUBSTRING(SNOWFLAKE.CORTEX.COMPLETE('snowflake-arctic', CONCAT('You are an assistant that converts country names to ISO 3166-1 alpha-2 codes. Follow these rules:

1. Output ONLY the ISO 3166-1 alpha-2 code (2 characters) for the input country name
2. Do not output any explanatory text or additional information
3. Output only 2 uppercase alphabetic characters
4. If the code is unknown, output "XX"

Sample format:
### Sample Input ###
Japan
### Sample Output ###
JP

### Sample Input ###
United States of America
### Sample Output ###
US

### Actual Input ###
', COUNTRY_NAME)), 2, 2) AS ISO3166_1
FROM {{cell1}};

## ã‚¹ãƒ†ãƒƒãƒ—3 "æ±ºã¾ã£ã¦ã‚‹ã ã‚â€¦åˆä½“ã ï¼"

ã¾ãšã¯äºŒã¤ã®ãƒ‡ãƒ¼ã‚¿ã‚½ãƒ¼ã‚¹ã®å›½åã‚’JOINã™ã‚‹ã€‚

In [ ]:
SELECT
    DISTINCT(A.COUNTRY_REGION) AS COUNTRY_NAME_1,
    B.COUNTRY_NAME AS COUNTRY_NAME_2,
    A.ISO3166_1
FROM FFW28_COVID19.PUBLIC.ECDC_GLOBAL AS A
JOIN {{cell2}} AS B
ON A.ISO3166_1 = B.ISO3166_1;

## ã‚¹ãƒ†ãƒƒãƒ—4 "å›°é›£ã¯åˆ†å‰²ã›ã‚ˆ"

æ¬¡ã«è¦³æ¸¬å±€ã®æ–¹ã‚’æ•´å½¢ã—ã¦ã„ã“ã†ã€‚  
å›½ã”ã¨ã« "highest" ãªã‚‚ã®ã‚’æŠ½å‡ºã™ã‚‹ã€‚

In [ ]:
SELECT * FROM
(
SELECT
    NOAA_WEATHER_STATION_ID AS STATION_ID,
    NOAA_WEATHER_STATION_NAME AS STATION_NAME,
    COUNTRY_NAME,
    LATITUDE,
    LONGITUDE,
    RANK() OVER (PARTITION BY COUNTRY_NAME ORDER BY NOAA_WEATHER_STATION_NAME DESC) AS RANK_NUM
FROM FFW28_WEATHER.CYBERSYN.NOAA_WEATHER_STATION_INDEX
)
WHERE RANK_NUM = 1;

## ã‚¹ãƒ†ãƒƒãƒ—5 "RANK IS ä¸‡èƒ½"

ãã‚Œãã‚Œã®è¦³æ¸¬å±€ã®æœ€å¤§ã®å¹³å‡æ°—æ¸©ã‚’æŠ½å‡ºã™ã‚‹ã€‚  
VALUEã§ ```PARTITION BY``` ã—ã¦æœ€æ–°ã®è¡Œã‚’å–å¾—ã™ã‚‹ã€‚

In [ ]:
SELECT * FROM
(
SELECT
    NOAA_WEATHER_STATION_ID AS STATION_ID,
    DATE,
    VALUE,
    RANK() OVER (PARTITION BY STATION_ID ORDER BY VALUE DESC) AS RANK_NUM
FROM FFW28_WEATHER.CYBERSYN.NOAA_WEATHER_METRICS_TIMESERIES
WHERE VARIABLE_NAME LIKE '%Average Temperature%'
)
WHERE RANK_NUM = 1;

## ã‚¹ãƒ†ãƒƒãƒ—6 "å…¨éƒ¨åˆä½“ï¼ãƒãƒ¼ãƒ³ï¼ãƒãƒ¼ãƒ³ï¼ã•ã‚‰ã«ãƒãƒ¼ãƒ³ï¼"

æº–å‚™ãŒã§ããŸã®ã§å…¨éƒ¨JOINã—ã¦ã„ãã€‚

In [ ]:
WITH STATION_AND_TEMPERATURE AS
(
    SELECT
        A.COUNTRY_NAME,
        A.STATION_ID,
        A.STATION_NAME,
        A.LATITUDE,
        A.LONGITUDE,
        B.DATE,
        B.VALUE
    FROM {{cell4}} A
    JOIN {{cell5}} B
    ON A.STATION_ID = B.STATION_ID
)
, RESULT_TABLE AS
(
    SELECT
        C.COUNTRY_NAME_1 AS COUNTRY_NAME,
        C.ISO3166_1,
        D.STATION_ID,
        D.STATION_NAME,
        D.LATITUDE,
        D.LONGITUDE,
        D.DATE,
        D.VALUE
    FROM {{cell3}} C
    JOIN STATION_AND_TEMPERATURE D
    ON C.COUNTRY_NAME_2 = D.COUNTRY_NAME
)
SELECT * FROM RESULT_TABLE;

## ã‚¹ãƒ†ãƒƒãƒ—7 "ãƒ”ãƒ¼ãƒŠãƒƒãƒ„ã¯ã™ãã€‚ãƒ¤ãƒ¼ãƒ‰ãƒ»ãƒãƒ³ãƒ‰æ³•ã¯ãã‚‰ã„ã€‚"

å›½åã§ã‚½ãƒ¼ãƒˆã—ã‚ˆã†ã€‚  
æ‘‚æ°(â„ƒ)ã˜ã‚ƒãªãã¦è¯æ°(â„‰)ã§å‡ºåŠ›ã™ã‚‹ã“ã¨ã«ã‚‚æ³¨æ„ï¼  
å‚è€ƒï¼š[â„‰] = [â„ƒ] Ã— 9â„5 + 32

In [ ]:
SELECT
    COUNTRY_NAME,
    ISO3166_1
    STATION_ID,
    STATION_NAME,
    LATITUDE,
    LONGITUDE,
    DATE,
    ((VALUE * 1.8) + 32) AS FAHRENHEIT_TEMPERATURE,
    ROW_NUMBER() OVER (PARTITION BY ISO3166_1 ORDER BY DATE DESC) AS ROW_NUM
FROM {{cell6}}
QUALIFY ROW_NUM = 1
ORDER BY COUNTRY_NAME;

## ãŠã¾ã‘ "ãƒ›ã‚³ãƒªã‹ã¶ã£ã¦ãŸæ°—æ¸©ã®ãƒªã‚¹ãƒˆã‚‚ãƒ—ãƒ­ãƒƒãƒˆã—ãŸã‚‰ä¼èª¬ã˜ã‚ƒãªã„"

Snowflake Notebooksãªã‚‰å¯è¦–åŒ–ã‚‚ç°¡å˜ã€‚

In [ ]:
import streamlit as st

# Pandasãƒ‡ãƒ¼ã‚¿ãƒ•ãƒ¬ãƒ¼ãƒ ã§å‰ã®ã‚»ãƒ«ã®å€¤ã‚’å–å¾—ã™ã‚‹
df = cell7.to_pandas()
st.dataframe(df)

# ãƒ—ãƒ­ãƒƒãƒˆã§ä½¿ã†è¿½åŠ ã®ã‚«ãƒ©ãƒ ã‚’ä½œæˆ
# å¤§ãã„å€¤ãŒã‚ˆã‚Šå¤§ããè¦‹ãˆã‚‹ã‚ˆã†ã«Nä¹—ã«ã—ã¦å¼·èª¿ã™ã‚‹
df["size"] = (df["FAHRENHEIT_TEMPERATURE"] ** 2.5) * 5

# åœ°å›³ã«ãƒ—ãƒ­ãƒƒãƒˆã™ã‚‹
st.map(df,
       latitude="LATITUDE",
       longitude="LONGITUDE",
       size="size")